body {
    font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Fraunces", serif;
}

h2 {
    color: #000000;
}

header h2 {
    color: #ffffff;
}

.site-footer {
    background-color: #2b2b2b;
    color: white;
    padding: 20px 0;
    }

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #3665db, #7ed957, #3665db);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #ffffff;

}

.nav {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
}

.nav-item {
    flex: 1 1 auto;
    text-align: center;
    font-weight: 500;
}

.nav-link {
    color: black;
}

a,
a:hover {
    text-decoration: underline;
}

.parent {
    position: relative;
    width: 100%;
}

.img {
    width: 100%;
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}